# Clase: Integraci贸n de MySQL con Python 

** NOTA IMPORTANTE: **
Te recomendamos encarecidamente tener el **Workbench abierto** mientras ejecutas las celdas de este notebook. Esto te permitir谩 ver paso a paso c贸mo se ejecutan las 贸rdenes desde Python en tu base de datos MySQL.

## 1. Configuraci贸n Inicial y Conexi贸n a una Base de Datos MySQL desde Python

Antes de sumergirnos en la conexi贸n, es crucial asegurarnos de tener las librer铆as necesarias instaladas. Si a煤n no lo has hecho, ejecuta los siguientes comandos en tu terminal (aseg煤rate de que tu entorno `base` est茅 activo si usas Anaconda/Jupyter):

```bash
pip install mysql-connector-python
# pip install pandas
```

Ahora, vamos a importar las librer铆as que utilizaremos a lo largo de esta clase. Siempre que queramos trabajar con librer铆as, debemos cargarlas previamente:

### 1.1. Importar Librer铆as Esenciales

In [1]:
import mysql.connector
from mysql.connector import errorcode

### 1.2. Estableciendo la Conexi贸n con `connect()`

El constructor `connect()` es el primer paso fundamental para establecer una comunicaci贸n entre tu script de Python y un servidor MySQL. Este constructor devuelve un objeto de tipo `MySQLConnection` que representa nuestra conexi贸n.

Los **argumentos clave** que se utilizan para conectar a una base de datos son:
*   `user`: El nombre de usuario para autenticarse en el servidor MySQL (ej. 'root').
*   `password`: La contrase帽a correspondiente al usuario.
*   `host`: La direcci贸n IP o el nombre del servidor MySQL al que te conectar谩s. Por defecto es "localhost" (o '127.0.0.1').
*   `database`: El nombre de la base de datos espec铆fica a la que deseas conectarte (ej. 'tienda').
*   `port`: (Opcional) El puerto TCP/IP del servidor MySQL, por defecto es 3306.

Veamos un ejemplo b谩sico de conexi贸n a la base de datos "tienda":

In [2]:
# Hacemos la conexi贸n con el servidor
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1',
    database='tienda'
)

In [4]:
# Imprimimos el objeto de conexi贸n para verificar
print(cnx)

# 隆Importante! Siempre debemos cerrar la conexi贸n cuando ya no la necesitemos
cnx.close()
print("Conexi贸n cerrada.")

<mysql.connector.connection.MySQLConnection object at 0x10eb6d410>
Conexi贸n cerrada.

### 1.3. Manejo de Errores en la Conexi贸n con `try-except`

En ocasiones, podemos sufrir errores de conexi贸n (por ejemplo, contrase帽a incorrecta o base de datos inexistente). Es una buena pr谩ctica a帽adir **manejo de excepciones** usando `try-except` para evitar que nuestro c贸digo se detenga abruptamente y para proporcionar mensajes de error 煤tiles. El m贸dulo `errorcode` nos permite identificar tipos espec铆ficos de errores.

In [9]:
try:
    # Intenta hacer la conexi贸n con la base de datos 'tienda'
    cnx = mysql.connector.connect(
        user='root',
        password='MySQLPassword2023!',
        host='127.0.0.1',
        database='tienda'
    )
    print("隆Conexi贸n exitosa a MySQL!") #

except mysql.connector.Error as err:
    # Si es un error de acceso denegado (ej. contrase帽a o usuario incorrecto)
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Algo est谩 mal con tu nombre de usuario o contrase帽a.") #
    # Si la base de datos no existe
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("La base de datos no existe.") #
    # Para cualquier otro tipo de error
    else:
        print(err) #
        print("C贸digo de Error:", err.errno) #
        print("SQLSTATE", err.sqlstate) #
        print("Mensaje", err.msg) #
else:
    # Si la conexi贸n fue exitosa, cierra la conexi贸n
    cnx.close()
    print("Conexi贸n cerrada.")

隆Conexi贸n exitosa a MySQL!
Conexi贸n cerrada.

### 1.4. Realizaci贸n de Queries con `cursor()` y `execute()`

Una vez que tenemos la conexi贸n, el siguiente paso es ejecutar consultas SQL. Esto se logra mediante el uso del **m茅todo `cursor()`** y el **m茅todo `execute()`**.
*   **`cursor()`**: Crea un objeto cursor, que es como la "llave" para interactuar entre Python y MySQL y es esencial para ejecutar consultas SQL.
*   **`execute()`**: Env铆a una consulta SQL al servidor MySQL y la ejecuta. El resultado se almacena en el cursor si todo va correctamente.

Podemos pasar cualquier tipo de query a `execute()`: crear tablas, alterar tablas, insertar datos, etc..

**Ejemplo: Mostrar tablas de una base de datos**

In [10]:
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1',
    database='tienda'
)

mycursor = cnx.cursor() # Iniciamos el cursor

mycursor.execute("SHOW TABLES") # Ejecutamos la query

# El cursor se convierte en un iterable al que podemos acceder, por ejemplo, con un bucle for
print("Tablas en la base de datos 'tienda':")
for x in mycursor:
    print(x) # Devuelve cada resultado como una tupla

cnx.close()

Tablas en la base de datos 'tienda':
('customers',)
('employees',)
('offices',)
('order_details',)
('orders',)
('payments',)
('product_lines',)
('products',)

**Ejemplo: Crear una base de datos**

Al crear una base de datos, no indicamos ninguna base de datos en la conexi贸n inicial.

In [16]:
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1'
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE BD_pruebas")
    print("Base de datos 'BD_pruebas' creada exitosamente.")
except mysql.connector.Error as err:
    print(err)
    print("C贸digo de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()
# Si ejecutas esta celda dos veces, obtendr谩s un aviso de que la base de datos ya existe.

1007 (HY000): Can't create database 'BD_pruebas'; database exists
C贸digo de Error: 1007
SQLSTATE HY000
Mensaje Can't create database 'BD_pruebas'; database exists

**Ejemplo: Crear una tabla**

In [17]:
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1',
    database='BD_pruebas' # Ahora nos conectamos a la nueva DB
)

mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
    print("Tabla 'customers' creada exitosamente en 'BD_pruebas'.")
except mysql.connector.Error as err:
    print(err)
    print("C贸digo de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

Tabla 'customers' creada exitosamente en 'BD_pruebas'.

**Ejemplo: Insertar un 煤nico registro - Uso de `commit()` y `rollback()`**

Para las sentencias `INSERT`, `UPDATE`, `DELETE`, es **necesario usar `cnx.commit()`** para que los cambios se efect煤en permanentemente en la base de datos. Si no se llama a este m茅todo, las modificaciones no se guardar谩n.

El m茅todo `rollback()` permite **deshacer una transacci贸n** si a煤n no se ha ejecutado `commit()` y los datos introducidos son incorrectos.

In [ ]:
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1',
    database='BD_pruebas'
)

mycursor = cnx.cursor()

query = "INSERT INTO customers (name, address) VALUES (%s, %s)" # Usamos %s como placeholders
val = ("Ana", "Calle 21") # Los valores se pasan como una tupla

try:
    mycursor.execute(query, val) # execute() recibe la query y los valores
    cnx.commit() # Guarda los cambios en la base de datos
    print(mycursor.rowcount, "registro insertado.") # rowcount devuelve el n煤mero de filas afectadas
except mysql.connector.Error as err:
    print(err)
    print("C贸digo de Error:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Mensaje", err.msg)

cnx.close()

1 registro insertado.

In [ ]:
# Ejemplo cuando el commit va bien !!!
print("\nDemostraci贸n de rollback:")

cnx = mysql.connector.connect(user='root', password='MySQLPassword2023!', host='127.0.0.1', database='BD_pruebas')
mycursor = cnx.cursor()
sql_multi = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val_multi = [
    ('Rocio', 'Apple st 652'),
    ('Sara', 'Mountain 21'),
    ('Pedro', 'Valley 345')
]

try:
    mycursor.executemany(sql_multi, val_multi)
    # Si algo sale mal aqu铆 con alguno de los valores nos vamos al except.
except:
    cnx.rollback()  # Cancela el INSERT
    print("inserci贸n cancelada")
else: # Se ejecuta si todo el try sali贸 bien
    cnx.commit()
    print(mycursor.rowcount, "valores insertados.")
finally: # Se ejecuta siempre
    cnx.close()

Demostraci贸n de rollback:
inserci贸n cancelada

In [ ]:
# Ejemplo cuando salta un error en el try a la hora de insertar y nos vamos al rollback !!!
print("\nDemostraci贸n de rollback:")

cnx = mysql.connector.connect(user='root', password='MySQLPassword2023!', host='127.0.0.1', database='BD_pruebas')
mycursor = cnx.cursor()
sql_multi = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val_multi = [
    ('Rocio', 'Apple st 652'),
    ('Mountain 21'), # Hemos eliminado uno de los valores para forzar el error
    ('Pedro', 'Valley 345')
]

try:
    mycursor.executemany(sql_multi, val_multi)
    # Si algo sale mal aqu铆 con alguno de los valores nos vamos al except.
except:
    cnx.rollback()  # Cancela el INSERT
    print("inserci贸n cancelada")
else: # Se ejecuta si todo el try sali贸 bien
    cnx.commit()
    print(mycursor.rowcount, "valores insertados.")
finally: # Se ejecuta siempre
    cnx.close()

**Ejemplo: Insertar m煤ltiples registros con `executemany()`**

Si necesitas insertar varias filas, usa `executemany()` con una lista de tuplas que contenga todos los datos.

In [20]:
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1',
    database='BD_pruebas'
)

mycursor = cnx.cursor()

sql_multi = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val_multi = [
    ('Rocio', 'Apple st 652'),
    ('Juana', 'Mountain 21'),
    ('Pedro', 'Valley 345')
] # Lista de tuplas

try:
    mycursor.executemany(sql_multi, val_multi) #
    cnx.commit()
    print(mycursor.rowcount, "registro/s insertado/s.") #
except mysql.connector.Error as err:
    print(err)

cnx.close()

3 registro/s insertado/s.

**Ejemplo: Eliminar registros**

In [21]:
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1',
    database='BD_pruebas'
)

mycursor = cnx.cursor()

sql_delete = "DELETE FROM customers WHERE address = 'Calle 21'" 

try:
    mycursor.execute(sql_delete)
    cnx.commit()
    print(mycursor.rowcount, "registro/s eliminado/s.")
except mysql.connector.Error as err:
    print(err)

cnx.close()

1 registro/s eliminado/s.

**Ejemplo: Actualizar registros**

In [29]:
cnx = mysql.connector.connect(
    user='root',
    password='MySQLPassword2023!',
    host='127.0.0.1',
    database='BD_pruebas'
)

mycursor = cnx.cursor()

sql_update = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'" #

try:
    mycursor.execute(sql_update)
    cnx.commit()
    print(mycursor.rowcount, "registro/s modificado/s.") #
except mysql.connector.Error as err:
    print(err)

cnx.close()

1 registro/s modificado/s.

## 2. Acceso a los Resultados de Nuestras Consultas

Una vez que hemos ejecutado nuestras consultas, es momento de aprender c贸mo acceder a los resultados de manera eficiente para poder manipular y analizar la informaci贸n.

### 2.1. Acceder a Resultados de Uno en Uno con `fetchone()`

El m茅todo `fetchone()` recupera **la primera fila** del resultado de la consulta y **avanza el cursor** al siguiente registro. Esto significa que cada vez que lo uses en el mismo cursor, te mostrar谩 un dato diferente, uno a uno.

In [30]:
cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQLPassword2023!",
    database="tienda"
)

mycursor = cnx.cursor()
mycursor.execute("SELECT * FROM employees") # Ejecutamos una query en la tabla 'employees'

# Primera llamada a fetchone()
myresult_1 = mycursor.fetchone()
print("El resultado 1 es: ", myresult_1) #

El resultado 1 es:  (1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President')

In [31]:
# Segunda llamada a fetchone() en el mismo cursor
myresult_2 = mycursor.fetchone()
print("El resultado 2 es: ", myresult_2) #

El resultado 2 es:  (1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales')

In [32]:
mycursor.fetchone()

(1076,
 'Firrelli',
 'Jeff',
 'x9273',
 'jfirrelli@classicmodelcars.com',
 '1',
 1002,
 'VP Marketing')

In [33]:
mycursor.fetchone()

(1088,
 'Patterson',
 'William',
 'x4871',
 'wpatterson@classicmodelcars.com',
 '6',
 1056,
 'Sales Manager (APAC)')

In [34]:
# Ojo: Si no cerramos la conexi贸n, cada vez que ejecutemos fetchone() pasar谩 al siguiente registro.

cnx.close()

### 2.2. Acceder a Todos los Resultados con `fetchall()`

Si deseas obtener **todos los resultados** devueltos por una consulta SQL de una sola vez, puedes utilizar el m茅todo `fetchall()`. Este m茅todo devuelve los resultados como una **lista de tuplas**, donde cada tupla representa una fila de la consulta.

In [ ]:
cnx = mysql.connector.connect(
    host="localhost",
    user="root",
    password="MySQLPassword2023!",
    database="tienda"
)

mycursor = cnx.cursor()
mycursor.execute("SELECT * FROM employees")

# Obtenemos todos los resultados
myresults_all = mycursor.fetchall() # Devuelve lista de tuplas
print("Todos los resultados (lista de tuplas):")
print(myresults_all) #

Todos los resultados (lista de tuplas):
[(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President'), (1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales'), (1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing'), (1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)'), (1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)'), (1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)'), (1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep'), (1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep'), (1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep'), (1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep'), (1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep'), (1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep'), (1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep'), (1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep'), (1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep'), (1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep'), (1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep'), (1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep'), (1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep'), (1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep'), (1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep'), (1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep'), (1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep')]

In [40]:
type(myresults_all)

list

In [37]:
# Podemos iterar sobre esta lista de tuplas para acceder a cada registro individualmente
print("\nAccediendo a cada fila individualmente:")
for row in myresults_all:
    print(row) #

cnx.close()

Accediendo a cada fila individualmente:
(1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President')
(1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales')
(1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing')
(1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)')
(1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)')
(1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)')
(1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep')
(1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep')
(1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep')
(1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep')
(1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep')
(1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep')
(1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep')
(1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep')
(1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep')
(1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep')
(1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep')

In [41]:
# primero tenemos que importar la librer铆a

import pandas as pd  # El "as" es como darle un alias a la biblioteca que voy a usar...te recuerda al AS de las query de SQL?

In [44]:
# hacemos la conexi贸n con el servidor
cnx = mysql.connector.connect(user='root', password='MySQLPassword2023!',
                              host='127.0.0.1',
                              database='tienda')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("SELECT * FROM employees")

# le decimos que nos devuelva todos los resultados y los almacenamos en una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. Si os fij谩is le estamos pasando un par谩metro llamado "columns" donde estamos especificando cu谩les son las columnas de lo que ser谩 nuestro dataframe
df = pd.DataFrame(myresult, columns = ['ID', 'Nombre', 'Apellido','Email','Telefono','Direccion','Ciudad','Pais'])

#Cerramos la conexion
cnx.close()

In [45]:
df

,ID,Nombre,Apellido,Email,Telefono,Direccion,Ciudad,Pais
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep